WhaleComics-2.0/WhaleComics-2.0/Connected Services/MyService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WhaleComics/Methods/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" />
  <xs:element name="SelectAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" minOccurs="0" name="SelectAllUsersResult" nillable="true" type="q1:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" minOccurs="0" name="SelectUserByNameResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" minOccurs="0" name="u" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserByNameAndPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserByNameAndPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" minOccurs="0" name="SelectUserByNameAndPasswordResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" minOccurs="0" name="SelectProductByNameResult" nillable="true" type="q5:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" minOccurs="0" name="SelectAllProductResult" nillable="true" type="q6:ProductList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductByNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prodNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductByNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" minOccurs="0" name="SelectProductByNumberResult" nillable="true" type="q7:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountProductsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>