WhaleComics-2.0/WhaleComics-2.0/Connected Services/MyService/Methods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Methods" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WhaleComics/Methods/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WhaleComics/Methods/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WhaleComics/Methods/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WhaleComicsDataBase" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMethods_SelectAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllUsers" />
  </wsdl:message>
  <wsdl:message name="IMethods_SelectAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMethods_SelectUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserByName" />
  </wsdl:message>
  <wsdl:message name="IMethods_SelectUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMethods_InsertNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="IMethods_InsertNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IMethods">
    <wsdl:operation name="SelectAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMethods/SelectAllUsers" message="tns:IMethods_SelectAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMethods/SelectAllUsersResponse" message="tns:IMethods_SelectAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMethods/SelectUserByName" message="tns:IMethods_SelectUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMethods/SelectUserByNameResponse" message="tns:IMethods_SelectUserByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMethods/InsertNewUser" message="tns:IMethods_InsertNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMethods/InsertNewUserResponse" message="tns:IMethods_InsertNewUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMethods" type="tns:IMethods">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAllUsers">
      <soap:operation soapAction="http://tempuri.org/IMethods/SelectAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserByName">
      <soap:operation soapAction="http://tempuri.org/IMethods/SelectUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="http://tempuri.org/IMethods/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Methods">
    <wsdl:port name="BasicHttpBinding_IMethods" binding="tns:BasicHttpBinding_IMethods">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WhaleComics/Methods/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>